<!-- Copyright © 2023 Jaime Arturo Palacios Estrada. All rights reserved. -->

<!-- The content and images on this website are protected by copyright law. -->
<!-- You may not reproduce, distribute, or transmit any part of this website or its 
     content in any form without our written permission. -->

    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/admins/partials/sidenav.css">
    <link rel="stylesheet" href="/css/admins/database/tables.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
    <%- include('../admins/partials/sidenav.ejs') %>
    

    <input type="text" value="<%= other.view %>" id="page">


    <!-- This is where the content of a specific page will be rendered -->
    <main>
        <!-- Conditionals -->
        <% if(other.view == "admin_login") { %> 

            <%- include('../admins/login.ejs') %>
    
        <% } else if(other.view == "admin_dashboard") { %> 
    
            <%- include('../admins/dashboard.ejs') %>
    
        <% } else if(other.view == "admin_categories") { %>
    
            <%- include('../admins/categories.ejs') %>
    
        <% } else if(other.view == "admin_users") { %> 
    
            <%- include('../admins/users.ejs') %>
    
        <% } else if(other.view == "admin_recipes") { %> 
            
            <%- include('../admins/recipes.ejs') %>

        <% } else { %>
    
            <%- include('../admins/dashboard.ejs') %>
    
        <% } %>
    </main>
    <!-------------------------------------------------------------------------->



    <%- include('../admins/partials/footer.ejs') %>
    <script src="/js/database/tables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>