
<!-- Copyright © 2023 Jaime Arturo Palacios Estrada. All rights reserved. -->

<!-- The content and images on this website are protected by copyright law. -->
<!-- You may not reproduce, distribute, or transmit any part of this website or its 
     content in any form without our written permission. -->
     
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delights</title>
    <link rel="shortcut icon" type="x-icon" href="/img/site-logo.png">
    <link rel="stylesheet" href="/css/users/partials/header.css">
    <link rel="stylesheet" href="/css/users/partials/footer.css">
    <link rel="stylesheet" href="/css/users/components.css">
    <link rel="stylesheet" href="/css/users/styles.css">
    

    <% if(other.view == "user_recipes") { %> 

        <link rel="stylesheet" href="/css/users/recipes.css">

    <% } else if(other.view == "user_about") { %>

        <link rel="stylesheet" href="/css/users/about.css">
    
    <% } else if(other.view == "contact") { %>

        <link rel="stylesheet" href="/css/users/contact.css">

    <% } else if(other.view == "community") { %>

        <link rel="stylesheet" href="/css/users/community.css">

    <% } else { %>

        <link rel="stylesheet" href="/css/users/home.css">
        
    <% } %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include('../users/partials/header.ejs') %>


        <input type="text" value="<%= other.view %>" id="page">


        <!-- This is where the content of a specific page will be rendered -->
        <main>
            <!-- Conditionals -->
            <% if(other.view == "user_recipes") { %> 

                <%- include('../users/recipes.ejs') %>

            <% } else if(other.view == "user_about") { %>

                <%- include('../users/about.ejs') %>
            
            <% } else if(other.view == "contact") { %>
                
                <%- include('../users/contact.ejs') %>

            <% } else if(other.view == "community") { %>

                <%- include('../users/community.ejs') %>

            <% } else { %>

                <%- include('../users/home.ejs') %>
                
            <% } %>
        </main>
        <!-------------------------------------------------------------------------->



    <%- include('../users/partials/footer.ejs') %>
    <script src="/js/users.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>