<div class="table-container">
    <header class="table-header">
        <h2><%= other.page %></h2>
        <hr>
    </header>

    <div class="table-options">
        <div class="options">
            <button class="opBtn delete">DELETE</button>
            <button class="opBtn update">UPDATED</button>
        </div>
    </div>

    <table class="table table-sm table-bordered table-hover">
        <thead class="table-light">
            <tr>
                <th scope="col"><input type="checkbox" class="all-rows"></th>
                <th scope="col">#</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Parent (#id)</th>
                <th scope="col">Subcategory (1/0)</th>
                <th scope="col">Date Modified</th>
                <th scope="col">Date Created</th>
                <th scope="col">General (1/0)</th>
                <th scope="col">Active (1/0)</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < data.categories.length; i++) { %>
                <tr>   
                    <% const modifiedDate = new Date(data.categories[i].date_modified) %>
                    <% const createdDate = new Date(data.categories[i].date_created) %>
                    <% const simplifiedModifiedDate = `${modifiedDate.getMonth() + 1}/${modifiedDate.getDate()}/${modifiedDate.getFullYear()}` %>
                    <% const simplifiedCreatedDate = `${createdDate.getMonth() + 1}/${createdDate.getDate()}/${createdDate.getFullYear()}` %>

                    <td><input type="checkbox" value="<%= data.categories[i].id %>"></td> <!-- checkbox -->  
                    <th><%= data.categories[i].id %></th> <!-- category id -->  
                    <td><%= data.categories[i].category_name %></td> <!-- category name -->  
                    <td class="truncate-txt"><%= data.categories[i].description %></td> <!-- category description -->  
                    <% if(data.categories[i].parent_category_id == undefined) { %>
                        <td>N/A</td>
                    <% } else { %>
                        <td><%= data.categories[i].parent_category_id %></td> <!-- parent category id -->  
                    <% } %>
                    <td><%= data.categories[i].is_sub_category %></td> <!-- is subcategory -->  
                    <td><%= simplifiedModifiedDate %></td> <!-- modified date -->  
                    <td><%= simplifiedCreatedDate %></td> <!-- date created -->  
                    <td><%= data.categories[i].is_general %></td> <!-- is general category -->  
                    <td><%= data.categories[i].is_active %></td> <!-- category is active -->  
                </tr>
            <% } %>
        </tbody>
    </table>
</div>